<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ _("Project") }}</title>
  <style type="text/css">
    body {
      font-family: "Open Sans", Arial, sans-serif;
      color: #444;
      padding: 0 1em;
    }

    main {
      max-width: 1200px;
      margin: 0 auto;
    }

    nav {
      position: fixed;
      top: 0;
      background: white;
      width: 100%;
    }

    @media (min-width: 1400px) {
      main {
        margin: 0 150px;
      }

      aside {
        position: fixed;
        top: 0;
        right: 0;
        margin: 0;
        padding: 1em;
      }

      #archive-container {
        display: block !important;
      }

    }

    input, textarea {
      padding: 0.5em;
      font-size: 1em;
      box-sizing: border-box;
      min-width: 300px;
    }

    input[type=number] {
      min-width: 70px;
      width: 70px;
    }

    input[type=checkbox] {
      min-width: 50px;
      width: 50px;
    }

    select {
      min-width: 300px;
    }

    .full-width {
      width: 100%;
    }

    textarea {
        height: 5em;
    }

    .input-label {
        font-weight: bold;
    }

    blockquote > h1 {
      font-size: 2em;
    }

    blockquote > h2 {
      font-size: 1.5em;
    }

    blockquote > h3 {
      font-size: 1.25em;
    }

    cite:before {
      content: "\2014 ";
    }

    cite {
      font-size: 0.8em;
    }

    .search-form {
      display: inline;
    }

    .flash {
      padding: 4px;
      margin: 4px;
      top: 1em;
      position: relative;
    }

    .flash.error {
      border: 1px solid #f22;
      background-color: #faa;
      color: #f22;
    }

    .flash.message, .flash.info {
      border: 1px solid #28f;
      background-color: #cef;
      color: #28f;
    }

    .flash.success {
      border: 1px solid #2f8;
      background-color: #cfe;
      color: #094;
    }

    .danger {
      color: #f22;
    }

    .pull-right {
      float: right;
      right: 50px;
      position: relative;
    }

    pre {
      white-space: pre-wrap;
    }

    table {
      border-spacing: 0;
      border-collapse: collapse;
    }

    table tr {
      background-color: #fff;
      border-top: 1px solid #aaa;
    }

    table tr:nth-child(2n) {
      background-color: #f5f5f5;
    }

    table th, table td {
      padding: 6px 12px;
      border: 1px solid #ddd;
    }

    .vertical-padding {
      height: 80px;
    }

    .video-inline {
      width: 30%;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="{{ url_for('oshipka_bp.static', filename='css/chosen.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('oshipka_bp.static', filename='css/lightbox.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('oshipka_bp.static', filename='css/datatables.css') }}">
  {% block style %}{% endblock %}
</head>
<body>
<nav>
  {% include "navigation.html" %}
</nav>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="vertical-padding"></div>
<aside>
  {% block aside %}{% endblock %}
</aside>
<main>
  {% if ctx and ctx.messages %}
    {% for message in ctx.messages %}
      <div class="flash {{ message.type.value }}">
        <a href="/messages/{{ message.id }}/dismiss"
           style="float:right;">x</a>
        {{ message.body|safe }}
      </div>
    {% endfor %}
  {% endif %}
  {% block content %}{% endblock %}
</main>
<script src="{{ url_for('oshipka_bp.static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('oshipka_bp.static', filename='js/lightbox.js') }}"></script>
<script src="{{ url_for('oshipka_bp.static', filename='js/chosen.js') }}"></script>
<script src="{{ url_for('oshipka_bp.static', filename='js/datatables.js') }}"></script>
<script src="{{ url_for('oshipka_bp.static', filename='js/fuse.js') }}"></script>
<script src="{{ url_for('oshipka_bp.static', filename='js/draggable.js') }}"></script>
<script src="{{ url_for('oshipka_bp.static', filename='js/oshipka.js') }}"></script>
<script>
$("select").chosen({
    inherit_select_classes: true,
});

lightbox.option({
    'resizeDuration': 100,
    'fadeDuration': 100,
    'imageFadeDuration': 100,
});

$('.data-table').DataTable();
</script>
{% block script %}{% endblock %}
</body>
</html>
