<a href="{{ url_for('home') }}">{{ _("Home") }}</a> |
<div class="pull-right">
    {% if current_user.is_authenticated %}
        <a href="#">{{ current_user.email }}</a> |
        <a href="{{ url_for('security.logout') }}">{{ _("Logout") }}</a> |
    {% else %}
        <a href="{{ url_for('security.login') }}">{{ _("Login") }}</a> |
    {% endif %}
</div>