{% extends "layout.html" %}

{% block content %}
    <h1>Delete {{ model_view.model_name }}:{{ instance.id }} ?</h1>
    <form action="{{ url_for('delete_' + model_view.model_name, uuid=instance.uuid) }}" method="post">
        <input type="hidden" value="{{ request.args._next or url_for('list_' + model_view.model_name) }}" name="_next"/>
        <input type="submit"/>
    </form>
    <a href="{{ request.args.next }}">Back</a>
{% endblock %}