{% extends "layout.html" %}

{% block content %}
    <h2>{{ model_name_pl }}:</h2>
    <ul>
        {% for instance in instances %}
            <li>
                [
                <a href="{{ url_for('update_' + model_name, uuid=instance.uuid) }}">e</a> |
                <a href="{{ url_for('delete_' + model_name, uuid=instance.uuid, next=url_for('home')) }}">x</a>
                ]
                <a href="{{ url_for('get_' + model_name, uuid=song.uuid) }}">{{ instance[list_display] }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}