<li>
    <a href="{{ url_for('get_[[ name|camel_to_snake ]]', uuid=instance.id) }}">
        {% include "[[ name|camel_to_snake ]]/_title.html" %}</a>
    {% include "[[ name|camel_to_snake ]]/_actions.html" %}
</li>