{% for instance in instances %}
    <li>
        <a href="{{ url_for('get_[[ name|camel_to_snake ]]', uuid=instance.id) }}">
            {% include "[[ name|camel_to_snake ]]/_title.html" %}</a>
        |
        [
        <a href="{{ url_for('update_[[ name|camel_to_snake ]]', uuid=instance.id) }}">e</a> |
        <a href="{{ url_for('delete_[[ name|camel_to_snake ]]', uuid=instance.id) }}">x</a>
        ]
    </li>
{% endfor %}