<table class="full-width data-table">
    <thead>
    <tr>
        [%- for column in columns %]
        {% if "[[ column.name ]]" not in skip_columns  %}
        <th>{{ _("[[ column.name ]]") }}</th>
        {% endif %}
        [%- endfor %]
        <th>{{ _("Actions") }}</th>
    </tr>
    </thead>
    <tbody>
        {% for instance in instances %}
            <tr>
                [%- for column in columns %]
                {% if "[[ column.name ]]" not in skip_columns  %}
                <td>
                [%- if column.type in ['relationship'] %]
                    [%- if column.multiple %]
                    {{ instance.[[ column.name|pluralize ]] }}
                    [%- else %]
                    {{ instance.[[ column.name ]] }}
                    [%- endif %]
                [%- else %]
                {{ instance.[[ column.name ]] }}
                [%- endif %]
                </td>
                {% endif %}
                [%- endfor %]
                <td>
                <a href="{{ url_for('update_[[ name|camel_to_snake ]]', uuid=instance.id, _next=request.path) }}">e</a> |
                <a href="{{ url_for('delete_[[ name|camel_to_snake ]]', uuid=instance.id, _next=request.path) }}">x</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>