{% extends "layout.html" %}

{% block content %}
    <a href="{{ url_for('list_[[ name|camel_to_snake ]]', uuid=instance.id) }}">{{ _("list") }}</a> |
    <h2>{% include "[[ name|camel_to_snake ]]/_title.html" %}</h2>
    <a href="{{ url_for('update_[[ name|camel_to_snake ]]', uuid=instance.id, _next=request.path) }}">{{ _("edit") }}</a> |
    <a href="{{ url_for('delete_[[ name|camel_to_snake ]]', uuid=instance.id) }}">{{ _("delete") }}</a>
    {% include "[[ name|camel_to_snake ]]/_get.html" %}
{% endblock %}