{% extends "layout.html" %}

{% block content %}
    <h2>{{ _("Search results for") }} {{ _("[[ name|pluralize ]]") }}</h2>
    <a href="{{ url_for('create_[[ name|camel_to_snake ]]') }}">{{ _("Create") }}</a>
    <br>
    {% include "[[ name|camel_to_snake ]]/_search.html" %}
{% endblock %}