{% extends "test/layout.html" %}

{% block aside %}

{% endblock %}

{% block content %}
    <p><strong>Task ID:</strong><span id="task_uuid">{{ task.uuid }}</span></p>
    <p><strong>Task name:</strong>{{ task.name }}</p>
    <p><strong>Task kwargs:</strong>{{ task.kwargs }}</p>
    <p><strong>Task out:</strong><span id="task_out">{{ output }}</span></p>
{% endblock %}

{% block script %}
<script>
    var TASK_NAME = "{{ task.uuid }}";

    if (!!window.EventSource) {
        var source = new EventSource('/stream/' + TASK_NAME);
        source.onmessage = function (e) {
            $("#task_out").text(e.data);
        }
    }
</script>
{% endblock %}